$area-color-1 : #0E7FAB;
$area-color-2 : #F8C738;
$area-color-3 : #EC3500;
$area-color-4 : #B8C30F;
$area-color-5 : #9C26B0;
$area-color-6 : #019587;
$area-color-7 : #795549;
$area-color-8 : #607C8A;
$area-color-9 : #6739B6;
$area-color-10 : #FF5521;